/* ------------------------------------------- */
/*      Styling of the privacy policy page     */
/* ------------------------------------------- */

section#privacy {
  font-weight: normal;

  h2, .reason {
    font-size: 20px;
  }

  address {
    font-style: normal;
  }

  p.disclaimer {
    padding: 12px 16px;
    background-color: #fff4f4;
    border-radius: 8px;
    border: 1px solid #ff5d5d;
    margin-bottom: 37px;
  }

  ul {
    list-style-type: none;
    padding-left: 16px;

    li {
      padding-left: 0;
    }
  }

  .highlight {
    background-color: @offWhite;
    border-radius: 8px;
    padding: 12px 16px;
  }
}