@font-path: "../fonts";

@font-face {
  font-family: "MetaWebPro";
  src: url("@{font-path}/metawebpro-normal.woff") format('woff');
  font-weight: 400;
  /* normal, regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "feather";
  src: url("@{font-path}/feather.woff") format('woff');
  font-weight: 400;
}